.card {
  background: white;
  border-radius: 22px;

  padding: 26px;
  display: flex;
  align-items: center;
  gap: 18px;

  box-shadow: 0 5px 18px rgba(0,0,0,.08);
  margin-bottom: 25px;
}

.icon {
  width: 58px;
  height: 58px;

  background: #f7f7f7;
  border-radius: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  color: #f7c948; /* Amarillo Yuma */
}

.label {
  font-size: 13px;
  opacity: .7;
}

.card h2 {
  font-size: 26px;
  margin: 2px 0;
  font-weight: 700;
  color: #0b8d56; /* Verde Yuma */
}

.card p {
  font-size: 13px;
  opacity: .6;
  margin-top: 4px;
}
