.card{

background:linear-gradient(
135deg,
#0f9d58,
#1bb55c
);

padding:30px;

border-radius:30px;

color:white;

box-shadow:0 15px 35px rgba(0,0,0,.2);

margin-bottom:30px;

}

.card h1{

font-size:46px;

margin:10px 0;

}

.progress{

height:12px;

background:rgba(255,255,255,.3);

border-radius:20px;

overflow:hidden;

margin:20px 0;

}

.fill{

height:100%;

background:white;

border-radius:20px;

}

.footer{

display:flex;

justify-content:space-between;

margin-top:30px;

text-align:center;

}

.footer h3{

margin-top:8px;

font-size:26px;

}