.card{
    background:white;
    border-radius:18px;
    padding:22px;
    margin-bottom:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}

.header h2{
    margin:0;
    color:#0d9488;
}

.libre{
    color:#16a34a;
    font-weight:600;
}

.ocupada{
    color:#ef4444;
    font-weight:600;
}

.info{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    color:#666;
}

.users{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.user{
    background:#f5f5f5;
    padding:8px 14px;
    border-radius:20px;
}