input {
width: 100%;
border: 1px solid #d1d5db;
padding: 0.5rem;
border-radius: 0.5rem;
}


.btn {
width: 100%;
background-color: #16a34a;
color: white;
padding: 0.5rem;
border-radius: 0.5rem;
font-weight: 600;
}

.btn-secondary {
width: 100%;
background-color: #2563eb;
color: white;
padding: 0.5rem;
border-radius: 0.5rem;
font-weight: 600;
}


.card {
background-color: white;
padding: 1rem;
border-radius: 0.75rem;
box-shadow: 0 1px 3px rgba(0,0,0,0.1);
text-align: center;
font-weight: 500;
}