.dots{

display:flex;

justify-content:center;

gap:10px;

margin-top:15px;

}

.dots span{

width:10px;

height:10px;

border-radius:50%;

background:#d5d5d5;

transition:.3s;

}

.active{

background:#0b8d56 !important;

width:30px !important;

border-radius:20px !important;

}