.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: bold;
}

.primary,
.secondary,
.danger {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 14px;
}

.primary {
  background: #0d9488;
  color: white;
}

.secondary {
  background: #f2f2f2;
}

.danger {
  background: #ef4444;
  color: white;
}